<div id="rating">
  <h>Rating:  <%= @movie.rating_total%>/10</h>
</div>
<div id="stars" class="form-stars" data-controller="rating" data-action="input->rating#greet">
  <div class="rating">
    <input id="movie_path" value="<%= movie_path @movie %>/rating" hidden>
    <% 10.downto(1) do |i| %>
      <input type="radio" name="rating" value="<%= i %>" id=<%= i %>>
      <label for=<%= i %>>☆</label>
    <% end %>
  </div>
</div>
