<div class="container">
<p style="color: green"><%= notice %></p>

  <div id="<%= dom_id @movie %>">
    <p>
<!--      <h><%#= image_tag  @movie.image,:width => 400,:height => 500%></h>-->
      <strong>Title:</strong>
      <%= @movie.title %>
    </p>
    <p>
      <strong>Text:</strong>
      <%= @movie.text %>
    </p>

  </div>

<%=render 'rating'%>








<%= link_to "Back to movies", movies_path %>





<% if @user %>
  <div>
    <%= link_to "Edit this movie", edit_movie_path(@movie) %>
    <%= button_to "Destroy this movie", @movie, method: :delete %>
  </div>
<% end %>

</div>